test:
  server_base_url: 'http://localhost:3000/'
  client_id: ''
  client_secret: ''
  username: 'foo'
  password: 'bar'

development:
  server_base_url: 'http://localhost:3000/'
  client_id: '64e0d773339e92c0bb0629157358b992b516246a75ae09e4f2ce35f0133ae03e'
  client_secret: 'fbf9726b7cd0f6f76e0a0332f54d4efa233b3263b9dbbc824b4b9997cb4b1af2'
  username: 'foo'
  password: 'bar'

production:
  server_base_url: 'http://localhost:3000/'
  client_id: 'hola'
  client_secret: 'sahed'
  username: 'foo'
  password: 'bar'
